body {
    padding: 0;
    margin: 0;
    background-color: #050505; 
    font-family: sans-serif;
    overflow: hidden; 
    height: 100vh;
    width: 100vw;
    
    /* İçerik hep ortada olsun */
    display: flex;
    align-items: center; 
    justify-content: center;
}

h1, .game-title { display: none !important; }

#unity-container {
    position: relative;
    
    /* --- EN KRİTİK NOKTA: 16:9 KİLİDİ --- */
    /* Oyunun her zaman 1920x1080 oranında kalmasını sağlar */
    aspect-ratio: 16 / 9;
    
    /* --- AKILLI BOYUTLANDIRMA --- */
    /* 1. Kural: Genişlik ekranın %100'ü olsun (Mobil için) */
    width: 100vw;
    
    /* 2. Kural: Ama Yükseklik ekranın %100'ünü geçerse (Taşarsa)... */
    /* ...O zaman yüksekliği ekrana göre ayarla (Laptop için) */
    max-height: 100vh;
    
    /* 3. Kural: Eğer buna rağmen çok geniş olursa (Ultra-Wide monitörler) */
    /* ...O zaman da genişliği yüksekliğe göre ayarla */
    max-width: 177.78vh; /* (16/9 * 100vh) matematiği */
    
    background: #000; 
    border: 1px solid #008f7a; 
    
    /* Neon Glow */
    box-shadow: 
        0 0 20px rgba(0, 200, 255, 0.4),  
        0 0 50px rgba(0, 255, 128, 0.2);  
        
    border-radius: 8px;
    margin: auto;
}

#unity-canvas {
    width: 100% !important;
    height: 100% !important;
    background: #232323;
    border-radius: 8px; 
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#unity-logo, #unity-footer, p.game-desc { display: none !important; }

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-empty-dark.png') no-repeat center;
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center;
}
